<img alt="Logo" src="../assets/images/cart.png" style="margin-right: 25px;"/>
<div *ngIf="arrayItems.length > 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <h4 style="display:inline-block;">Congratulations! You will become the owner of {{ totalCount }} beautiful products!</h4>
  <table class="middle" appBorder="solid 4px black">
    <thead>
      <tr>
        <th scope="col">Item</th>
				<th scope="col">Remove from Cart</th>
        <th scope="col" style="padding-left: 20px;" scope="col">Count</th>
				<th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
			<tr *ngFor="let item of arrayItems" style="width: 100%; border-bottom: solid .5px #d2dae2;" appHighlight="beige">
				<app-cart [cart]="item" (remove)="removeItem($event)" (increment)="incrementCount($event);" (decrement)="decrementCount($event)" (name)="inputCount($event)" style="display:contents;"></app-cart>
      </tr>
      <tr>
        <th style="padding: 0 10px;" scope="col">Total</th>
        <th style="padding: 0 20px;" scope="col">—</th>
        <th style="padding: 0  0  0 35px;" scope="col">{{totalCount}}</th>
        <th style="padding: 0 10px;" scope="col">{{totalPrice | number:'1.2'}}</th>
      </tr>
    </tbody>
	</table>
	<div style="display:flex;margin-left:auto; margin: 20px 5% 50px;float:right;">
	<button class="btn btn-primary"  (click)="emptyCart()">Empty cart</button>
	<button class="btn btn-primary" style="margin-left: 20px;">Сonfirm purchase</button>
	</div>
</ng-template>
<ng-template #elseBlock>
  <h4 style="display:inline-block;">Your cart is empty. Let's make shopping!</h4>
</ng-template>
