<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      Product Review
    </h4>
  </div>

  <div class="panel-body">
    <div><strong>{{review.name | uppercase }}</strong></div>
    <div *ngIf="review.reviews && review.reviews.length > 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div *ngFor="let point of review.reviews" style="margin-top:25px">{{point}}
        <hr>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <h5 style="display:inline-block;">There is no any review. Be the First!</h5>
    </ng-template>
    <div><button class="btn btn-primary" (click)='onGoBack()'>Back</button></div>
   </div>
</div>
