<div class="full-justify">
	<div *ngIf="authService.isLoggedIn" style="margin:20px;display:block;width:100%;">
    	<button class="btn btn-primary" (click)="onCreateProduct()">Add New Product</button>
	</div>
	<br><br>
	<p *ngIf="(productsError$ | async) as value">{{value}}</p>

	<app-product [item]="product" *ngFor="let product of (products$ | async)" (buyProduct)="onBuy($event)" 
	(showReviews)="onShowReviews($event)" (editProduct)="onEditProduct($event)"
	[logged]="authService.isLoggedIn" [colors]="product.colors.split(',')" [size]="product.size.split(',')"
	></app-product>
</div>
