<table class="shop-item">
		<tr>
			<td>
				<div *ngIf="item.size.length > 1; then thenBlock else elseBlock"></div>
				<ng-template #thenBlock>
					<form>
						<select onclick="event.stopPropagation()">
							<option [value]="null" disabled selected>Size</option>
							<option [value]="sizeVariable" *ngFor="let sizeVariable of item.size">{{ sizeVariable }}</option>
						</select>
					</form>
				</ng-template>
				<ng-template #elseBlock>
					<span>{{item.size[0]}}</span>
				</ng-template>
			</td>
			<td class="right">
				<span *ngFor="let col of item.colors" class="color" [ngStyle]="{ 'background-color': col }"></span>
			</td>
		</tr>
		<tr class="center">
			<td colspan="2"><img src="../../assets/images/products/{{ item.image }}.png" /></td>
		</tr>
		<tr>
			<td class="product-name">{{ item.name | uppercase }}</td>
			<td class="right">{{ item.price | currency:'EUR'}}</td>
		</tr>
		<button class="btn btn-primary" (click)='onBuy(item)' [disabled]="item.category" style="margin: 0 10px 10px;">BUY</button>
		<button class="btn btn-secondary" [routerLink]="[{outlets: {review: ['review']}}]" (click)="onShowReviews()" style="margin: 0 10px 10px;">REVIEWS</button>
	</table>
